*.tfstate
*.tfstate.backup
*.tfplan
.terraform/
.terraform.lock.hcl

*.zip
build_*/
__pycache__/
*.pyc

*.dist-info/
*.egg-info/
bin/
venv/
.env

.DS_Store
.idea/
.vscode/

*.log

test.*
vars.sh
aliases.sh