*.tfstate
*.tfstate.backup
*.tfplan
.terraform/
.terraform.lock.hcl

*.zip
build_*/
__pycache__/
*.pyc

*.dist-info/
*.egg-info/
bin/
venv/
.env
*.env

.DS_Store
.idea/
.vscode/

*.log

test.*
vars.sh
aliases.sh

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
